<h2 class="text-primary fontStyle">Angular 19</h2>
<div class="row">
    <div class="col-6">
        <h3>1.String Interpolation</h3>
        <h4>First Name = {{firstName}}</h4>
        <h5>First Name = {{currentDate}}</h5>
        <input type="text" [value]="firstName"><br>
        <input type="text" placeholder="Write your name">

        <div class="row">
            <div class="col">
                <div class="table">
                    <thead>
                        <tr>
                            <td>Sr.no.</td>
                            <td>Name</td>
                            <td>Number</td>
                            <td>Gender</td>
                            <td>Status</td>
                            <td>totalMarks</td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of student; track $index){
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Number}}</td>
                            <td>{{item.Gender}}</td>
                            <td [ngStyle]="{'background-color':item.Status ? 'green':'red'}">
                                {{item.Status == true ? 'Active':'De-Active'}}
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" [ngStyle]="{'width':item.totalMarks+'%'}">
                                        {{item.totalMarks}}</div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <h3>2.Property Binding</h3>
        <input type="text" [placeholder]="myPlaceholder">
        <div class="row">
            <div class="col-3">
                <div class="py-4 mx-2 my-2 text-center rounded-5 fw-bold" [ngClass]="div1BgColor">Div 1</div>
                <button class="rounded-3 bg-danger" (click)="div1ColorR()">Click Me</button>
                <button class="rounded-3 bg-primary" (click)="div1ColorB()">Click Me</button>
            </div>

            <div class="col-3">
                <div class="py-4 mx-2 my-2 text-center rounded-5 fw-bold"
                    [ngClass]="div2BgColor == true ? 'bg-secondary':'bg-warning'">Div 2</div>
                <button class="rounded-3" [ngClass]="div2BgColor == true ? 'bg-secondary':'bg-warning'"
                    (click)="div2Color()">Click Me</button>
            </div>
            <div class="col-3">
                <div class="py-4 mx-2 my-2 text-center rounded-5 fw-bold border border-info border-5"
                    [ngClass]="input1 == input2 ? 'bg-success':'bg-danger'">Div 3</div>
                <input type="text" [(ngModel)]="input1">
                <input type="text" [(ngModel)]="input2">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>totalMarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stud of student">
                            <td>{{stud.Name}}</td>
                            <td>{{stud.Number}}</td>
                            <td>{{stud.Gender}}</td>
                            <td [ngStyle]="{'background-color':stud.Status ? 'green':'red'}">
                                {{ stud.Status == true ? 'Active':'De-Active'}}
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" [ngStyle]="{'width':stud.totalMarks+'%'}">
                                        {{stud.totalMarks}}</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
</div>