<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Division</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of tabledata; track $index) {
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.class}}</td>
                        <td>{{item.div}}</td>
                        <td>{{item.city}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-4 d-flex m-2">
                <span class="pt-2"><strong>Search</strong></span>
                <input (input)="SearchEmployeeByName($event)" class="form-control me-2 ms-3 border-secondary"
                    type="text" placeholder="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
            <div class="col-12">
                <table class="table table-bordered table-primary table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>firstName</th>
                            <th>lastName</th>
                            <th>Gender</th>
                            <th>age</th>
                            <th>email</th>
                            <th>username</th>
                            <th>birthDate</th>
                            <th>City</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of urlTableData; track $index) {
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.firstName}}</td>
                            <td>{{item.lastName}}</td>
                            <td>{{item.gender}}</td>
                            <td>{{item.age}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.username}}</td>
                            <td>{{item.birthDate}}</td>
                            <td>{{item.address.city}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort class="table-bordered">

                    <!-- ID Column -->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                        <td mat-cell *matCellDef="let row"> {{row.age}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                        <td mat-cell *matCellDef="let row"> {{row.username}} </td>
                    </ng-container>

                    <ng-container matColumnDef="birthDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.birthDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                        <td mat-cell *matCellDef="let row"> {{row.address.city}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</div>